.container{
    width: 400px; height: 450px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: lightgreen;
    border-radius: 30px;
}
.input-data{
    padding: 10px 15px;
    margin: 30px auto;
    border-radius: 30px;
    border: none;
    text-align: center;
}
.par{
    font-size: 20px;
    letter-spacing: 2px;
}

.data{
    margin: 40px auto;
}